*{
    margin: 0;
    padding: 0;
}

header {background-color: rgb(0, 0, 0); color:rgb(255, 255, 255);
display: flex;
justify-content: space-around;
padding: 24px 0;} 
.cabecalho-imagem{
    width: 15%;
    height: 5%;
}
   .cabecalho-imagem
{display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size:  24px;}
h1
{display: inline-block;
margin: 0 16px;
padding: 100px 0;
font-size: 40px;} 
